- cache ['main', object, object.creater], expires_in: 1.hour do
  .article-item
    .top
      .mark
      .title
        %a{href: article_path(object)}= object.title
        .subtitle
          .item
            %span.icon-user-2
            = name_tag(object.creater, class: 'reversion')
          .item.time
            %span.icon-clock
            = time_progress(object.created_at)
          .item
            %span.icon-comments
            = "#{object.comments.size} 评论"
          .item
            %span.icon-thumbs-up
            = "#{object.like_count}赞"
    .content
      - text_clip(object.summary) do |text, imgs|
        = text
        %br/
        - imgs.each do |img|
          = raw img
    %a.more{href: article_path(object)} Read More