= stylesheet_link_tag 'article/icon'
%style
  = raw ".myboka > .content #content-field .article-item .top .mark{ background: url('#{assets_url('skim/assets/type.png')}') no-repeat center #1abc9c}"

.myboka
  .header
    %h1.title= public_settings.title
    .header-right
      .search
        %input#main-search{placeholder: raw('&#xe61b;搜索...'), search: 'true'}
        .result{style: 'display: none'}
          .mark
  .pages
    .navbar
      - if public_settings.home
        %a.navitem{href: root_path}
          %span 主页
      - unless public_settings.pages.nil?
        - public_settings.pages.each do |page|
          %a.navitem{href: collection_path(page.id)}
            %span= page.title
  .content
    = render_content
  #footer.footer
    .information
      Powered by
      %a{href: 'http://www.myboka.com'} MyBoka