!!!
%html
  %head
    %title= public_settings.title.nil? ? 'MyBoKa-我的博卡' : public_settings.title
    = javascript_include_tag 'jquery'
    - @template.paths 'skim_path' do |js, css|
      - js.each do |jf|
        = bk_javascript_include_tag jf.path
      - css.each do |cf|
        = bk_stylesheet_link_tag cf.path
    = csrf_meta_tags
  %body
    = yield